<!DOCTYPE html>
<html>
<head>
    <title>Online Pharmacy: Search Results</title>
        {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'customer/css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navBarWrapper">
		<div id="logo">
			<a href="">
				<img src="{% static 'customer/images/logo.png' %}" id="logoIcon" alt="Online Pharmacy">
			</a>
		</div>

		<div id="cart">
			<a href="{% url cart:cart %}">
				<img src="{% static 'customer/images/cart.png' %}" alt="Cart" id="cartIcon"><span class="badge countBadge">4</span>
			</a>
		</div>

		<div id="accountAvatar">
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			<img src="{% static 'customer/images/user.png' %}" id="userIcon"><span class="glyphicon glyphicon-asterisk" style="color: white"></span>
          			<div id="currentUserName">
          				Jon Doe
          			</div>
          		</a>
          			<ul class="dropdown-menu">
            			<li><a href="">Dashboard</a></li>
            			<li class="divider"></li>
            			<li><a href="#">Notification</a></li>
            			<li class="divider"></li>
            			<li><a href="#">Sign Out</a></li>
          			</ul>
        	</li>
		</div>

	</div>



	<div class="footer">

	</div>
{% block body %}

{% endblock %}
</body>
</html>