<!DOCTYPE html>

    <head>
        <meta charset="UTF-8" />
        <title>
           Pharmacy Login
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <meta name="description" content="User Login" />
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'Register_and_login/images/logo.png'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'Register_and_login/css/bootstrap.css' %}" />
        <style>
            body{background-color: #5799A1;}
        </style>
    </head>
    <body>
        <br>
        <br>
        <header>
            <div class="container-fluid">
                <div class="col-sm-4 col-sm-offset-4 " id="imgdiv" >
                    <img class="img-responsive" src="{% static 'Register_and_login/images/logo.png' %}" width="482" height="130">
                </div>
            </div>
        </header>
        <br>
        <br>
        <div class="wrapper">
            <div class="col-sm-4 col-sm-offset-4 " style="background-color: white;">
                <form  action="" method="post">
                    <h1 >
                        <center>
                            Pharmacy Login
                        </center>
                    </h1>
                   <br>
                    {%csrf_token%}
                    {% for message in messages %}
                        <p style="color:red" align="center">
                            {{message}}
                        </p>
                    {% endfor %}
                    {% for field in form %}
                      <div class="form-group">
                          <p>
                            {{field.label_tag}}<br>{{field}}
                          </p>
                      </div>
                    {% endfor %}
                    {% for error in field.errors %}
                       <p style="color:red">
                           {{error}}
                       </p>
                    {% endfor %}
                   	<p class="login button">
                   		<input class="form-control" type="submit" value="Login" >
                    </p>
                </form>
                <br>
                <p style="color:#000000" align="right">
                   Not a member yet ? &nbsp <a href="/pharmacy/registration">Join us</a>
                </p>
            </div>
        </div>
    </body>
</html>
