<!DOCTYPE html>

    <head>
        <meta charset="UTF-8" />
        <title>
           User Sign up
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Registration" />
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'Register_and_login/images/logo.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'Register_and_login/css/bootstrap.css' %}" />
        <style>
             body{background-color: #5799A1}
        </style>
    </head>
    <body>
        <br>
        <br>
        <header>
                <div class="container-fluid">
                    <div class="col-sm-4 col-sm-offset-4 " id="imgdiv" >
                        <img class="img-responsive" src="{% static 'Register_and_login/images/logo.png' %}" width="482" height="130"  >
                    </div>
                </div>
        </header>
        <br>
        <br>
        <div class="wrapper">
            <div class="col-sm-4 col-sm-offset-4" style="background-color: white;">
               <form action="" method="post">
                   <h1 >
                       <center>
                            User Signup
                       </center>
                   </h1>
                   {%csrf_token%}
                   {% for field in form %}
                      <div class="form-group">
                          <p>
                            {{field.label_tag}}<br>{{field}}
                          </p>
                          {% for error in field.errors %}
                            <p style="color:red">
                                {{error}}
                            </p>
                          {% endfor %}
                      </div>
                   {% endfor %}
                   <p class="signin button">
                      <input class="form-control" type="submit" value="Register" >
                    </p>
               </form>
               <br>
            </div>
        </div>
    </body>
</html>
